

@font-face {
	font-family: "Cosi";
	src: url('font/CosiAzure-Black.woff'), url('font/CosiAzure-Black.woff2');
}


*
{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}



body
{
	font-family: 'Cosi',"monotype corsiva","courier new",monospace;
	height: 100vh;
	width: 100vw;
	background: rgb(218, 217, 217);
}

.wrapper
{

	height: 100%;
	width: 100%;
}
.wrapper header 
{
	height: 10vh;
	width: 100%;
}
.wrapper header nav
{
	height: 100%;
	width: 100%;
    position: relative;
}

.nav-links
{
	height: 100%;
	width: 50%;
	position: absolute;
	left: 25%;


	list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-links li
{
	/* margin-left: 1rem; */
	width: 20%;
}

.nav-links a
{
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	font-weight: bolder;
}



.wrapper main
{
	display: flex;
	justify-content: center;
	align-items: flex-start;

	padding-top: 5%;

	height: 90vh;
	width: 100%;
}

.left-article
{
	width: 25%;
	margin-right: 3rem;
}

.left-article h1
{
	font-size: 3rem;
	margin-top: 1.5rem;
	font-weight: bolder;
	/* padding-left: 1rem; */
}

.take-me-there
{
	display: block;
	padding: 1rem 1rem 1rem 1rem;
	margin-top: 1rem;
	font-size: 1.4rem;
	

	text-decoration: none;
	color: black;
	background: white;
	border-radius: 20px;
}
.take-me-there:hover
{
	color: white;
	background: black;
}

img
{
	width: 20%;
	margin-right: 2rem;
	border-radius: 20px;

	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}




ul.transition
{
	width: 100%;
	height: 100vh;

	position: absolute;
	top: 0;

	display: flex;

	z-index: 10;
	pointer-events: none;
	list-style: none;
}

ul.transition li
{
	height: 100%;
	width: 20%;
	background: white;
	transform: scaleY(0);
}


@media screen and (max-width: 980px) 
{
	*
	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.wrapper
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		width: 100vw;
		


	}
	.wrapper header
	{
		width: 100%;
		height: 15vh;

	}
	.wrapper header nav
	{
		height: 100%;
		width: 100%;
	}
	
	.nav-links
	{
		height: 100%;
		width: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;

	}
	.nav-links li 
	{
		height: 100%;
		width: max-content;
		margin-right: 2rem;
		margin-top: 1rem;
	}

	.nav-links li a 
	{
		height: 100%;
		width: 100%;
		font-size: 1rem;
	}
	.wrapper main
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		width: 100%;

		
	}
	.left-article
	{
	    width: 50vw;
		
	}
	.left-article h1
	{
		width: 100%;
		font-size: 2rem;
	}
	.left-article a
	{
		width: 100%;
		font-size: 0.8rem;
	}

	.wrapper main img
	{
		width: 45vw;

		/* height: 40vw;  */
		object-fit: cover;
		object-position: top;
	
		margin-top: 2rem;
		
	}
	
	ul.transition 
	{
		height: 120vh;
	}


}